#app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(79, 58, 85);
  overflow: hidden;
}

#background-image {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#mixing-station {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  /* border: 2px dotted lightblue; */
  background: rgba(44, 7, 39, 0.541);
  box-sizing: border-box;
}

.ingredient {
  position: absolute;
  left: 0;
  top: 0;
  width: 26%;
  height: auto;
}

#cauldron {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 90%;
  height: auto;
  transform: translate(-50%, 10%);
  z-index: -2;
}

.instruction-text {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 17px;
}